@import '../../../../lib/deepsight/css/sass/_dropdown.scss';
@import '../../../../lib/deepsight/css/sass/_filter.scss';
@import '../../../../lib/deepsight/css/sass/_calendar.scss';
@import '../../../../lib/deepsight/css/sass/_pagelinks.scss';

@import 'utils';
@import 'icons';
@import 'animation';
@import 'filter';

.eliswidget_enrolment {
    @import 'progressbar';

    .elisloader {
        display: block;
        text-align: center;
        &:before {
            @include iconbasics();
            @include rotate();
            content: "\e01f";
            display: inline-block;
            color: rgba(0, 0, 0, 0.2);
            padding: 0;
            margin: 0;
        }
    }
    .childrenlist {
        .loading {
            position: relative;
            overflow: hidden;
            min-height: 5rem;
            &:before {
                @include iconbasics();
                @include rotate();
                content: "\e01f";
                display: inline-block;
                color: rgba(0, 0, 0, 0.2);
                padding: 0;
                margin: 0;
                font-size: 5rem;
                position: absolute;
                top: calc(50% - 2.5rem);
                left: calc(50% - 2.5rem);
            }
            > * {
                opacity: 0.2;
                transition: all 100ms linear;
            }
        }
        .childrenlistheader {
            display: inline-block;
            width: 100%;
            margin: 0.2rem 0;
            > h6 {
                display: inline-block;
                margin: 0.25rem 0.5rem 0.25rem 0;
            }
        }
    }
    .program {
        padding: 0.3rem 0.3rem 0.3rem 0;
        > svg.elisprogress {
            width: 15%;
            height: 0.5rem;
            float: right;
            margin: {
                top: 0.8rem;
                right: 0.4rem;
                left: 0.4rem;
            }
        }
        > .header {
            font-weight: bold;
            padding: 0 0 0 1rem;
            position: relative;
            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
                cursor: pointer;
            }
            &:before {
                margin-right: 0.1rem;
                content: "\e020";
                color: rgba(0, 0, 0, 0.2);
                @include iconbasics();
                position: absolute;
                left: 0;
                top: 0.55rem;
            }
            > h5 {
                margin: 0 16px;
                font-size: 0.9rem;
                line-height: 1rem;
            }
        }
        &.expanded {
            > .header {
                border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
                &:before {
                    color: rgba(0, 0, 0, 0.4);
                    content: "\e021";
                }
            }
            > .childrenlist {
                display: block;
                margin-bottom: 1rem;
            }
        }
        > .childrenlist {
            display: none;
            padding: 0 0.5rem;
            .elisloader {
                font-size: 5rem;
            }
        }
    }
    .course, .courseset, .program {
        > .details {
            display: none;
            vertical-align: top;
            padding: 0.5rem 0.5rem 0rem 0.8rem;
            .item {
                margin-bottom: 0.3rem;
                font-size: 0.7rem;
                display: block;
                line-height: 0.9rem;
                > .key {
                    font-weight: bold;
                    margin-right: 0.3rem;
                }
            }
            .morelesslink {
                display: block;
            }
            > .item:last-child {
                margin-bottom: 0;
            }
        }
        > .header {
            margin: 0;
            padding: 0.4rem 0;
            display: block;
            cursor: pointer;
            line-height: 1rem;
            > .title {
                display: block;
                vertical-align: top;
                box-sizing: border-box;
                margin: 0;
                padding: 0 0 0 0.8rem;
                position: relative;
                line-height: 1rem;
                &:before {
                    content: "\e020";
                    color: rgba(0, 0, 0, 0.2);
                    @include iconbasics();
                    position: absolute;
                    left: 0;
                    top: 0.15rem;
                }
            }
            > small {
                padding: 0 0 0 0.8rem;
            }
            > .details {
                display: none;
                vertical-align: top;
                padding: 0.5rem 0.5rem 0rem 0.8rem;
                .item {
                    margin-bottom: 0.3rem;
                    font-size: 0.7rem;
                    display: block;
                    line-height: 0.9rem;
                    > .key {
                        font-weight: bold;
                        margin-right: 0.3rem;
                    }
                }
                .morelesslink {
                    display: block;
                }
                > .item:last-child {
                    margin-bottom: 0;
                }
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
        &.expanded {
            outline: 1px solid rgba(0, 0, 0, 0.3);
            margin-bottom: 1rem;
            > .header {
                padding-bottom: 0.2rem;
                border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
                > .title {
                    &:before {
                        color: rgba(0, 0, 0, 0.4);
                        content: "\e021";
                    }
                }
                > .details {
                    display: block;
                }
            }
            > .childrenlist {
                display: block;
            }
            > .details {
                display: block;
            }
        }
        > .childrenlist {
            display: none;
            margin-left: 0.8rem;
            > .elisloader {
                font-size: 1.5rem;
            }
            .childrenlistheader {
                margin-bottom: 0.5rem;
            }
        }
    }
    .courseset {
        &.expanded {
            outline: none;
        }
    }
    .pmclass {
        padding: 0.3rem 0.3rem 0.3rem 0;
        > .details {
            .item {
                display: block;
                font-size: 80%;
                line-height: 0.9rem;
                margin-bottom: 0.2rem;
                .key {
                    font-weight: bold;
                    display: inline-block;
                    margin-right: 0.25rem;
                }
                .pmclassstatus a {
                    display: inline-block;
                    margin-left: 0.25rem;
                }
            }
            .item.instructors .val span:not(:last-child):after {
                content: ', ';
            }
        }
        .smloader {
            display: inline-block;
            text-align: center;
            margin-left: 0.3rem;
            &:after {
                @include iconbasics();
                @include rotate();
                content: "\e01f";
                display: inline-block;
                color: #000;
                padding: 0;
                margin: 0 0 0 0.2rem;
            }
        }
    }
}

#block-region-side-pre, #block-region-side-post {
    .eliswidget_enrolment {
        .deepsight_filter-textsearch {
            min-width: 6.5rem;
            button.filterui {
                input[type="text"] {
                    max-width: calc(100% - 2.4rem);
                    width: 100%;
                }
                .selection {
                    max-width: calc(100% - 2.3rem);
                    overflow: hidden;
                    word-wrap: break-word;
                    white-space: nowrap;
                }
            }
            button.deepsight_filter-remove {
                width: 1.5rem;
                height: 1.25rem;
            }
        }
        .program {
            > .childrenlist {
                padding: 0;
            }
        }
        .course {
            > .header {
                .item {
                    line-height: 0.8rem;
                    .key {
                       display: block;
                    }
                }
            }
            .pmclassheader {
                h6 {
                    float: none;
                }
                .searchbox {
                    float: none;
                    width: 90%;
                }
            }
        }
        .pmclass, .program {
            .details {
                .item {
                    line-height: 0.8rem;
                    margin-bottom: 0.2rem;
                    .key {
                        display: block;
                    }
                }
            }
        }
    }
}
