@import 'icons';

.deepsight_filter_generator {
	padding: 0;
	&:before {
		font-size: 0.7rem;
		margin: 0;
		color: #aaa;
		content: '' !important;
		font-family: inherit !important;
		background: {
            image: url($searchicon);
            repeat: no-repeat;
            position: center;
            size: 60%;
        }
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        vertical-align: middle;
	}
}

.deepsight_filter_generator_choice {
	padding: 0.25rem 0.5rem;
}